
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --background-color: #f8f9ff;
    
    --sidebar-color: #ffffff;
    --on-sidebar-color: #8a8a8a;
    --sidebar-hover-color: #ff003c;
    
    
    --sidebar-width-closed: 100px;
    --sidebar-width-opened: 300px;
    --sidebar-width-transition: width 500ms ease-out;
    --sidebar-hover-transition: background-color 250ms ease, color 250ms ease;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    background-color: var(--background-color);
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 8rem;
    font-weight: 900;
}

h4 {
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    font-weight: 900;
}

/* SIDEBAR (Start) */
.sidebar {
    --sidebar-width: var(--sidebar-width-closed);
    
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    
    width: var(--sidebar-width);
    height: 100%;
    
    background-color: #fff;
    transition: var(--sidebar-width-transition);
    
    display: flex;
    flex-direction: column;
}

.sidebar.opened {
    --sidebar-width: var(--sidebar-width-opened);
}

/* SIDEBAR TOGGLE BUTTON (Start) */
.sidebar .toggle {
    width: 48px;
    aspect-ratio: 1;
    margin: 12px 27px;
    border-radius: 12px;
    align-self: end;
    
    font-size: 20px;
    color: var(--on-sidebar-color);
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.opened .toggle .expand-icon,
.sidebar .toggle .collapse-icon {
    display: none;
}

.sidebar .toggle .expand-icon,
.sidebar.opened .toggle .collapse-icon {
    display: inline;
}

.sidebar .toggle:hover {
    color: white;
    background-color: #d8d8d8;
}
/* SIDEBAR TOGGLE BUTTON (End) */

.sidebar .menu {
    width: calc(100% - 24px);
    margin: 0 auto;
    list-style-type: none;
}

.sidebar .menu .item {
    display: flex;
    align-items: center;
    column-gap: 16px;
    width: 100%;
    
    text-decoration: none;
    color: var(--on-sidebar-color);
    font-size: 24px;
    font-weight: 600;

    padding: 24px 0;
    border-radius: 12px;
}

.sidebar .menu .item:hover {
    background-color: var(--sidebar-hover-color);
    color: white
}

.sidebar .menu .item i {
    margin-left: 26px;
}

.sidebar .menu .item .name {
    font-size: 16px;
    display: inline-block;
    
    width: 100%;
    transition: var(--sidebar-width-transition);
    overflow-x: hidden;
    white-space: nowrap;
}

.sidebar:not(.opened) .menu .item .name {
    width: 0;
}

/* SIDEBAR (End) */

/* ------------ HOME (START) -------------------------------------------------------------------------------------------------------------------------------------- */

/* MAIN PAGE (Start) */
#home .main-page {
    flex: 1 1 auto;
    height: 100%;
    
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px 0;
}

#home .main-page #intro {
    flex: 1 0 700px;
    width: 100%;
    border-radius: 0 0 64px 64px;
    background-color: #ff003c;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    
    color: white;
    scroll-snap-align: start;
}

#home .main-page #intro a {
    position: absolute;
    bottom: 16px;
    text-decoration: none;
    color: white;
}

#home .main-page #intro a:hover {
    text-decoration: underline;
}

#home .main-page #p1,
#home .main-page #p2,
#home .main-page #p3 {
    scroll-snap-align: center;
    box-sizing: border-box;
    flex: 1 0 420px;
    width: 90%;
    max-width: 1200px;
    
    border-radius: 36px;
    transition: all ease 300ms;
    
    display: grid;
    padding: 0 40px;
    gap: 0 12px;
    align-content: center;
    grid-template-columns: 50% 50% 50%;
}

.text {
    color: #9194ab;
}

.text h2 {
    color: #9b9dae;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 8px;
}

#home .main-page #p1:hover,
#home .main-page #p2:hover,
#home .main-page #p3:hover {
    box-shadow: 0 8px 8px #e1e5eb77;
}

#home .main-page #p1 {
    background-color: #fff;
}
#home .main-page #p2 {
    background-color: #fff;
}
#home .main-page #p3 {
    background-color: #fff;
}

#home .main-page #footer {
    width: 100%;
    min-height: 500px;
    background-color: black;
    scroll-snap-align: end;
}
/* MAIN PAGE (End) */

/* ------------ HOME (END) -------------------------------------------------------------------------------------------------------------------------------------- */



/* ------------ EXPLORE (START) -------------------------------------------------------------------------------------------------------------------------------------- */
#explore .main-page {
    flex: 1 0 auto;
    
    display: flex;
    row-gap: 36px;
    flex-direction: column;
    align-items: center;
    
    padding: 50px 0;
    overflow-y: scroll;
}

#explore .main-page .picker-option {
    width: 90%;
    max-width: 1200px;
    flex: 0 1 0px;
    box-sizing: border-box;
    padding: 36px;
    
    background-color: white;
    box-shadow: 0 4px 8px #e1e5eb55;
    border-radius: 24px;
    
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

#explore .main-page #select-color {
    display: flex;
    width: 100%;
}

#explore .main-page #select-color span {
    padding: 12px 0 12px 20px;
    background-color: #f7f7f9;
    vertical-align: middle;
    border-radius: 12px 0 0 12px;
    
    font-weight: 400;
    font-size: 1.05rem;
    text-align: end;
}

#explore .main-page #select-color .color-display {
    flex: 2 4 70%;
    border-radius: 0 12px 12px 0;
    background-color: #fff;
}

#explore .main-page #select-color input[type=text] {
    flex: 3 3 auto;
    padding: 12px 4px;
    font-size: 1.05rem;
    background-color: #f7f7f9;

    border: none;
}
#explore .main-page #select-color input[type=text]::placeholder {
    letter-spacing: 0;
    color: #b7b7b7;
}

#explore .main-page #select-color input[type=text]:focus {
    outline: none;
}



#explore input[type=range]::-webkit-slider-thumb {
    appearance: none;
    height: 20px;
    aspect-ratio: 1;
    
    box-shadow: -607px 0 0 600px #88889a;
    border-width: 10px;
    border-style: solid;
    border-color: #88889a;
    background-color: white;
    border-radius: 50%;
    
    transition: all ease 250ms;
}

#explore input[type=range]:hover::-webkit-slider-thumb { 
    box-shadow: -607px 0 0 600px #32323c;
    border-color: #32323c;
    border-width: 3px;
}

#explore input[type=range]#red-variation:hover::-webkit-slider-thumb {
    box-shadow: -407px 0 0 400px #ff2500;
    border-color: #ff2500;
}

#explore input[type=range]#green-variation:hover::-webkit-slider-thumb {
    box-shadow: -407px 0 0 400px #6aff2f; /* 6aff2f */
    border-color: #6aff2f;   
}

#explore input[type=range]#blue-variation:hover::-webkit-slider-thumb {
    box-shadow: -407px 0 0 400px #1155ff; /* 6aff2f */
    border-color: #3b75ff;
    
}

#explore input[type=range] {
    appearance: none;
    height: 20px;
    background: #e9e9f1;
    border-radius: 10px;
    
    overflow: hidden;
}




#explore .colors {
    margin-top: 16px;
    
    display: flex;
    justify-content: space-between;
    column-gap: 32px;
}

#explore .colors div {
    flex: 1 0 auto;
    
    display: flex;
    grid-template-columns: auto auto;
    place-items: center;
    column-gap: 8px;
}

#explore #red-variation,
#explore #green-variation,
#explore #blue-variation {
    flex: 1 0 auto;
}




#explore .main-page #slider-wrapper > div {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

#explore .main-page #slider-wrapper > div #deviation {
    flex: 1 0 auto;
}

#explore .main-page .result-wrapper {
    flex: 1 1 auto;
    width: 90%;
    max-width: 1200px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
}

#explore .main-page .result-wrapper .button-wrapper {
    flex: 1 0 inherit;
    width: 100%;
    box-sizing: border-box;
    
    display: flex;
    column-gap: 4px;
}


#explore .main-page .result-wrapper .button-wrapper > div {
    flex: 1 0 33%;
    height: 64px;
    background-color: white;
    box-sizing: content-box;
    
    color: #a6b2ce;
    box-shadow: 0 4px 8px #e1e5eb77;
    
    font-size: 28px;
    text-align: center;
    display: grid;
    place-content: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    
    -webkit-user-select: none;
    user-select: none;
}

#explore .main-page .result-wrapper .button-wrapper > div:first-child {
    border-radius: 12px 0 0 12px;
}

#explore .main-page .result-wrapper .button-wrapper > div:last-child {
    border-radius: 0 12px 12px 0;
}

#explore .main-page .result-wrapper .button-wrapper .text {
    font-size: 18px;
    
    display: none;
    white-space: nowrap;
    overflow-x: hidden;
    text-align: start;
}

#explore .main-page .result-wrapper .button-wrapper div:hover {
    background-color: #32323c;
    color: white;
}

#explore .main-page .result-wrapper .button-wrapper div:hover .text {
    display: inline-block;
    color: white;
}




#explore .main-page .border {
    flex: 0 0 0px;
    padding: 36px;
    box-sizing: border-box;
    
    width: 100%;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 8px 8px #e1e5eb55;
    border-radius: 16px;
    
}

#explore .main-page .border .results {
    height: inherit;
    overflow: hidden;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#explore .main-page .border .results > .color-block {
    min-height: 60px;
    padding: 0 20px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    font-weight: bold;
    text-decoration: none;
    
    display: flex;
}

#explore .main-page .border .results > .color-block .text {
    display: inline-block;
    color: white;
    
    width: 0;
    overflow-x: hidden;
    transition: all ease-in-out 250ms;
    vertical-align: center;
}

#explore .main-page .border .results > .color-block .copy-wrapper i {
    font-size: 24px;
    display: none;
}
#explore .main-page .border .results > .color-block:hover .copy-wrapper i.unhov,
#explore .main-page .border .results > .color-block:hover .copy-wrapper:hover i.hov {
    display: inline;
}
#explore .main-page .border .results > .color-block:hover .copy-wrapper:hover i.unhov,
#explore .main-page .border .results > .color-block:hover .copy-wrapper i.hov {
    display: none;
}

#explore .main-page .border .results > .color-block:hover .text {
    width: 100%;
}

/* ------------ EXPLORE (END) -------------------------------------------------------------------------------------------------------------------------------------- */



/* ------------ COLOR 'ITEM' (START) -------------------------------------------------------------------------------------------------------------------------------------- */

#item .main-page {
    flex: 1 0 auto;
    
    display: flex;
    column-gap: 36px;
    align-items: center;
    
    padding: 0 100px;
    overflow-y: scroll;
}


@media only screen and (max-width: 1200px) {
    #item .main-page {
        flex-direction: column;
        row-gap: 36px;
        padding: 50px 0;
    }
    
    #item .main-page .main-color {
        flex: 1 0 auto;
        width: 90%;
        box-sizing: border-box;
        max-width: 900px;
    }
    
    #item .main-page .related-colors {
        flex: 1 0 auto;
        width: 90%;
        box-sizing: border-box;
        max-width: 900px;
    }
}



#item .main-page .main-color {
    flex: 2 0 auto;
    min-height: 400px;
    padding: 40px;
    
    background-color: white;
    box-shadow: 0 4px 12px #e1e5eb;
    border-radius: 24px;
    
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

#item .main-page .main-color .color-block {
    width: 100%;
    aspect-ratio: 2 / 1;
    border-radius: 16px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#item .main-page .main-color .color-block i {
    color: white;
    font-size: 48px;
    display: none;
}

#item .main-page .main-color .color-block:hover .copy-wrapper i.unhov,
#item .main-page .main-color .color-block:hover .copy-wrapper:hover i.hov {
    display: inline;
}
#item .main-page .main-color .color-block:hover .copy-wrapper:hover i.unhov,
#item .main-page .main-color .color-block:hover .copy-wrapper i.hov {
    display: none;
}

#item .main-page .main-color .color-block:hover .save-wrapper i.unhov,
#item .main-page .main-color .color-block:hover .save-wrapper:hover i.hov {
    display: inline;
}
#item .main-page .main-color .color-block:hover .save-wrapper:hover i.unhov,
#item .main-page .main-color .color-block:hover .save-wrapper i.hov {
    display: none;
}



#item .main-page .main-color .color-info {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

#item .main-page .main-color .color-info > div {
    background-color: #f4f6fc;
    padding: 16px;
    border-radius: 8px;
}

#item .main-page .main-color .color-info .name,
#item .main-page .main-color .color-info .name span {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    font-weight: 700;
}

#item .main-page .main-color .color-info > div span {
    opacity: 40%;
}

#item .main-page .main-color .color-info > div:not(.name) span {
    padding-right: 28px;
}



#item .main-page .related-colors {
    flex: 3 0 auto;
    min-height: 400px;
    padding: 40px;
    

    background-color: white;
    box-shadow: 0 4px 12px #e1e5eb;
    border-radius: 24px;  
    
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

#item .main-page .related-colors > div {
    background-color: #f4f6fc;
    
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

#item .main-page .related-colors > div > .block-wrapper {
    flex: 1 0 auto;
    display: flex;
    column-gap: 12px;
}

#item .main-page .related-colors > div > .block-wrapper .color-block {
    flex: 1 0 auto;
    background-color: rgb(221, 225, 239);
    height: 64px;
    border-radius: 16px;
}

/* ------------ COLOR 'ITEM' (END) -------------------------------------------------------------------------------------------------------------------------------------- */



/* ------------ LOGIN AND REGISTER (START) -------------------------------------------------------------------------------------------------------------------------------------- */

#log-reg .main-page {
    flex: 1 0 auto;
    box-sizing: border-box;
    
    display: grid;
    place-content: center;
    overflow-y: scroll;
    
    padding: 0 100px;
}

#log-reg .main-page .card-wrapper {
    flex: 1 1 auto;
    max-width: 1200px;
    display: flex;
    aspect-ratio: 16 / 9;
    box-shadow: 0 4px 12px #e1e5eb;
    border-radius: 48px;
    
    overflow-x: hidden;
    overflow-y: hidden;
    
    scroll-behavior: smooth;
}

#log-reg .main-page .card-wrapper .card {
    flex: 1 0 100%;
    background-color: white;
    padding: 60px;
    /* border-radius: 48px; */
    box-sizing: border-box;
    
    display: flex;
    column-gap: 36px;
}

#log-reg .main-page .card-wrapper .card .aesthetic-card {
    flex: 0 1 50%;
    background-color: #ff003c;
    border-radius: 24px;
    padding: 64px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#log-reg .main-page .card-wrapper .card .aesthetic-card h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 12px;
    color: white;
}

#log-reg .main-page .card-wrapper .card .aesthetic-card p {
    font-size: 1.1rem;
    margin-bottom: 24px;
    color: white;
}

#log-reg .main-page .card-wrapper .card .aesthetic-card a {
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-color: #dd003a;
    padding: 20px;
    border-radius: 12px;
}

#log-reg .main-page .card-wrapper .card .aesthetic-card a {
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-color: #dd003a;
    padding: 20px;
    border-radius: 12px;
    
    transition: all ease 250ms;
}

#log-reg .main-page .card-wrapper .card .aesthetic-card a:hover {
    background-color: #ff607a;
    color: white;
    
    transform: translateY(-5%);
}

#log-reg .main-page .card-wrapper .card form {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    row-gap: 12px;
}

#log-reg .main-page .card-wrapper .card form input[type=text],
#log-reg .main-page .card-wrapper .card form input[type=password] {
    /* width: 100%; */
    border: none;
    background-color: #f7f7fb;
    padding: 16px;
    border-radius: 16px;
}

#log-reg .main-page .card-wrapper .card form input[type=button] {
    background-color: #32323c;
    color: white;
    
    padding: 16px;
    border-radius: 16px;
    border: none;
    font-weight: 700;
}


    
/* ------------ LOGIN AND REGISTER (END) -------------------------------------------------------------------------------------------------------------------------------------- */
